@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #080f1d;
}

:root {
  --font-dancing-script: 'Dancing Script', cursive;
  --font-nunito: 'Nunito', sans-serif;
}

.font-script {
  font-family: var(--font-dancing-script);
}

.font-nunito {
  font-family: var(--font-nunito);
}

.light {
  --background: #e8eff7;
  --foreground: #353942;
}

.dark {
  --background: #080f1d;
  --foreground: #e8eff7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}