src/
.github/
.vscode/
node_modules/
*.log
*.tgz
.DS_Store
.env*
coverage/
.nyc_output/
rollup.config.js
tsconfig.json
.eslintrc*
.prettierrc*
jest.config.js
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
__tests__/
stories/
.storybook/
docs/